@font-face {
  font-family: "Petrona Regular";
  src: url("../assets/fonts/Petrona-Regular.ttf");
}

$image-height: 88%;

.aldeia-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .intro-container {
    width: 100%;
    height: calc(100vh - 72px);

    .imagem-aldeia {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: $image-height;
      position: relative;
      background-color: #35631c;

      &::after {
        background-image: url("../assets/img/caminho_casa_de_reza_blur.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        margin: 64px 0;
        position: absolute;
        content: "";
        opacity: 0.9;
        // filter: blur(16px);
      }

      img {
        max-height: 90%;
        object-fit: contain;
        z-index: 2;
        box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
      }
    }
    .titulo-aldeia {
      width: 100%;
      height: calc(100% - #{$image-height});
      text-align: center;
      font-size: 35px;
      background: #642f1e;
      color: #ffffff;
      margin: 0;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-image: url("../assets/img/pintura3.png");

      h1 {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.5px;
        padding: 12px;
        // background-color: #642f1e;
        // opacity: 0.8;

      }
    }
  }
  .conteudo {
    flex: 1;
    p {
      line-height: 165%;
    }
  }

  .conteudo-aldeia {
    max-width: 1162px;
    margin: 64px 0;

    .texto {
      margin: 12px 64px;
      p {
        margin-top: 16px;
        text-align: justify;
        white-space: pre-wrap;
        line-height: 1.5;
      }
      h2 {
        text-align: center;
        padding-top: 48px;
      }
    }

    .localizacao {
      margin-top: 64px;
      p {
        margin: 12px 0;
        text-align: center;
      }
      h2 {
        text-align: center;
        font-size: 30px;
        margin-top: 48px;
      }
      p,
      h2 {
        margin: 12px 80px;
        line-height: 25px;
      }
    }
  }

  .menu-content {
    top: 0;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .aldeia-container {
    display: block;

    .conteudo-aldeia {
      margin-top: 40px;
      .texto {
        margin: 12px 32px;
        text-align: justify;
      }
    }

    .intro-container {
      margin-bottom: 0;
      height: unset;
      .imagem-aldeia {
        margin-top: 0;
        height: unset;

        img {
          width: 100% !important;
          margin: 72px 0 0 0;
          max-height: unset;
          padding: unset;
          box-shadow: unset;
        }

        &::after {
          display: none;
        }
      }

      .titulo-aldeia {
        padding: 16px;
      }
    }
  }
}
