@font-face {
  font-family: "Petrona Regular";
  src: url("../assets/fonts/Petrona-Regular.ttf");
}

$image-height: 80vh;

.aldeia-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .intro-container {
    width: 100%;
    padding-bottom: 40px;
    // background: #642f1e;

    .imagem-aldeia {
      // padding-top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: $image-height;
      position: relative;

      &::after {
        background-image: url("../assets/img/imagem_fundo_blur.jpeg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        margin: 64px 0;
        position: absolute;
        z-index: -1;
        content: "";
        opacity: 0.8;
      }

      img {
        width: 100% !important;
        max-height: $image-height;
        object-fit: contain;
        z-index: 2;
        padding: 56px 0;
      }
    }
    .titulo-aldeia {
      width: 100%;
      text-align: center;
      font-size: 35px;
      background: #642f1e;
      color: #ffffff;
      margin: 0;
      padding: 20px;
    }
  }
  .conteudo {
    flex: 1;
    p {
      line-height: 165%;
    }
  }

  .conteudo-aldeia {
    max-width: 1162px;

    .texto {
      margin: 12px 64px;
      p {
        margin-top: 16px;
        text-align: justify;
      }
      h2 {
        text-align: center;
        padding-top: 48px;
      }
    }

    .localizacao {
      margin-top: 64px;
      p {
        margin: 12px 0;
        text-align: center;
      }
      h2 {
        text-align: center;
        font-size: 30px;
        margin-top: 48px;
      }
      p,
      h2 {
        margin: 12px 80px;
        line-height: 25px;
      }
    }
  }

  .menu-content {
    top: 0;
  }

  // .imagem-menu-lateral {
  //   width: 100%;
  //   height: 200px;
  // }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .aldeia-container {
    display: block;

    .conteudo-aldeia {
      .texto {
        margin: 12px 32px;
        text-align: justify;
      }
    }

    // .menu-lateral {
    //   display: none;
    // }

    .conteudo {
      padding-top: 40px;
    }

    // .imagem-aldeia,
    // .titulo-aldeia {
    //   display: block;
    // }

    .intro-container {
      margin-bottom: 0;
      .imagem-aldeia {
        margin-top: 0;
        height: unset;
  
        img {
          width: 100% !important;
          margin: 72px 0 0 0;
          max-height: unset;
          padding: unset;
          z-index: 0;
        }
      }
  
      .titulo-aldeia {
        // margin-top: 4px;
        padding: 16px;
      }
  
    }

    // .image-portal {
    //   width: 100%;
    // }
  }
}
