@font-face {
  font-family: "Petrona Regular";
  src: url("../assets/fonts/Petrona-Regular.ttf");
}

:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Petrona Regular";
  font-size: 1em;

  header {
    height: 72px;
    z-index: 4;
    background-color: rgba(101, 19, 19, 1);
  }

  p {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
    margin: 12px;
    padding: 16px;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 12px;
    padding: 16px;
  }
}



.header-img-top {
  width: 100%;
  height: 60vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 24px;
    text-align: center;
    line-height: 130%;
    color: #767676;
  }
  img {
    width: 100px;
  }
}

.banner__text--orange {
  color: #B35810;
}

.bottom-section {
  background-image: url("../assets/img/imagem_fundo_blur.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 5%;
}

.banner__section {
  display: block;
  justify-content: center;
  background-color: rgba(101, 19, 19, 0.88);
  padding: 40px 0;
  p {
    color: #ffffff;
    margin: 12px 0;
  }
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 80px 0;

  .card-item {
    margin: 24px;
    width: 440px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    .item-img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
    }

    .item-text {
      background-color: rgba(100, 47, 30, 0.75);
      display: block;
      padding: 5px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.6em;
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
    }
  }
}

.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  

  .about {
    max-width: 1162px;
    width: 100%;
    margin: 80px;
    padding: 32px;
    background-color: rgba(white, 0.7);
    color: black;
    text-align: center;
    border-radius: 4px;

    h2 {
      font-size: 32px;
      margin: 40px 0 64px 0;
    }

    .poema, .texto {
      white-space: pre-wrap;
      font-size: 30px;
      line-height: 180%;
    }
    

    .texto {
      font-size: 26px;
    }

    .pintura {
      height: 20px;
      margin: 56px 0;

    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.875em;
  }

  .banner {
    img {
      width: 72px;
    }

  }

  .cards {
    padding-bottom: 32px;
    .card-item {
      width: 100%;
      margin: 32px 24px;
  
      .item-img {
        max-height: 240px;
      }
      .item-text {
        font-size: 1.8em;
      }
    }
  }

  .about-container {
    .about {
      margin: 24px;
      padding: 40px 16px;
      background-color: rgba(white, 0.8);

      h2 {
        font-size: 28px;
        margin: 16px 0 40px 0;
      }

      .poema {
        font-size: 24px;
      }

      .texto {
        font-size: 22px;
      }
    }
  }


  .bottom-section {
    background-image: url("../assets/img/aldeia_panoramica_mobile.jpeg");
    background-size: cover;
    background-repeat: repeat-y;
    .banner__section {
      padding-top: 70px;
      padding-bottom: 70px;
      padding-right: 30px;
      padding-left: 30px;
      background-color: rgba(101, 19, 19, 0.7);
    }
  }
}
