.navbar {
  position: fixed;
  height: 72px;
  z-index: 4;
  background-color: rgba(101, 19, 19, 0.95);
  padding: 4px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  float: left;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.75);
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background: rgba(101, 19, 19, 1);
  }
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    img {
      height: 64px;
    }
  }
}

.navbar-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 1.75em;
  .nav-item {
    display: flex;
    flex: 1;
    justify-content: center;

    .navbar-mobile-section {
      display: none;
    }

    &:first-child {
      margin-left: -32px;
    }
    &:nth-child(2) {
      flex: 2;
    }
    &:not(:last-child) {
      border-right: 1px solid #ffffff;
    }
    &.nav-item--flex {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
    a {
      text-decoration: none;
      text-align: center;
      color: #ffffff;
      outline: none;
      padding: 12px;
      border-radius: 8px;
      transition: background-color 0.2s ease-in-out;
      font-size: 24px;

      &:hover,
      &:focus {
        background-color: #dddddd30;
      }
    }
  }
}

.navbar-mobile {
  display: none;
}

.menu-close__icon {
  display: none;
}
// footer
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(88, 17, 17, 1);
  color: #ffffff;
  font-family: "Petrona Regular";
  position: relative;

  .footer-menu {
    width: 100%;
    padding: 8px 16px 16px 16px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .footer-section {
      margin: 16px 32px;
      text-align: center;
      min-width: 142px;
      h3 {
        font-weight: bold;
      }
      a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
        line-height: 150%;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footer-copyright {
    padding: 24px;
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    background-color: #65131366;
  }
}

.language-selector,
.language-selector-mobile {
  position: relative;

  .display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(white, 0.16);
    border-radius: 8px;
    padding: 6px 12px;
    cursor: default;
    max-width: 240px;
    color: white;
    p {
      padding: 4px 8px;
      font-size: 22px;
    }

    .language-icon {
      height: 30px;
      padding: 2px 8px;
      color: white;
    }

    .arrow-icon {
      height: 12px;
      padding: 2px 8px;
      margin-top: 2px;
    }
  }

  .options {
    width: 100%;
    background: #651313;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;

    a {
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 768px) {
    &:hover,
    &:focus-within {
      .options {
        height: 144px;
        box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.go-up-container {
  width: 100%;
  margin: 64px 0;
  display: flex;
  justify-content: center;

  button {
    background: transparent;
    border: 0;
  }
  .flecha {
    cursor: pointer;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

    @media only screen and (min-width: 768px) {
      &:hover {
        transform: rotate(90deg) translate(-12px) scale(1.05);
        filter: invert(13%) sepia(26%) saturate(5687%) hue-rotate(343deg)
          brightness(90%) contrast(98%);
      }
    }
  }
}

.language-selector,
.language-selector-mobile {
  position: relative;

  .display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(white, 0.16);
    border-radius: 8px;
    padding: 6px 12px;
    cursor: default;
    max-width: 240px;
    color: white;
    p {
      padding: 4px 8px;
      font-size: 22px;
    }

    .language-icon {
      height: 30px;
      padding: 2px 8px;
      color: white;
    }

    .arrow-icon {
      height: 12px;
      padding: 2px 8px;
      margin-top: 2px;
    }
  }

  .options {
    width: 100%;
    background: #651313;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;

    a {
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 768px) {
    &:hover,
    &:focus-within {
      .options {
        height: 144px;
        box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    width: 100%;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: -90%;
    width: 80%;
    height: 100vh;
    padding: 16px;
    display: block;
    transition: left 1s;
    background-color: rgba(101, 19, 19, 1);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);

    .navbar-brand {
      img {
        height: 88px;
      }
    }
    .navbar-nav {
      margin-left: 0px;
      margin-top: 16px;
      display: block;

      .nav-item {
        width: 100%;
        padding: 16px 0;
        border-right: 0;

        .navbar-mobile-section {
          display: inherit;
          font-size: 26px;
          color: #ffffff;
          margin: 4px 8px 8px 8px;
          padding: 4px 8px 8px 8px;
          font-weight: bold;
        }
        &:first-child {
          margin-left: unset;
        }
        &:not(:first-child) {
          border-top: 1px solid #ffffff;
        }
        &.nav-item--flex {
          flex-direction: column;
        }
      }
    }
  }

  .language-selector {
    .display {
      display: none;
    }
    .options {
      height: auto;
      position: inherit;
      box-shadow: unset;

      &:hover {
        height: auto;
      }
    }
  }

  .language-selector-mobile {
    position: absolute;
    right: 12px;

    .display {
      padding: 6px;
      width: unset;
      cursor: pointer;

      .language-icon {
        height: 20px;
        padding: 0;
      }

      .arrow-icon {
        height: 10px;
        padding: 2px 2px 2px 6px;
      }
    }
    .options {
      right: 0;
      width: 200px;
      box-shadow: unset;

      a {
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        outline: none;
        padding: 12px;
        border-radius: 8px;
        transition: background-color 0.2s ease-in-out;
        font-size: 24px;
      }
    }
  }

  .navbar-mobile {
    background-color: rgba(101, 19, 19, 1);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .nav-item {
      text-align: left;

      &:first-child {
        margin-left: unset;
      }
    }

    .open-menu {
      width: 30px;
      position: absolute;
      left: 12px;
    }
  }

  .menu-close__icon {
    display: block;
    position: absolute;
    right: 12px;
    top: 20px;
    width: 30px;
  }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
  .navbar {
    width: 40%;
  }
}
