.navbar {
  position: relative;
  background-color: rgba(101, 19, 19, 1);
  padding: 4px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  float: left;
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 70px;
    }
  }
}

.navbar-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 1.75em;
  .nav-item {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
    text-align: center;
    &:nth-child(2) {
      flex: 2;
    }
    &:not(:last-child) {
      border-right: 4px solid #ffffff;
    }
    &.nav-item--flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    span:not(:last-child) {
      padding-right: 10px;
    }
    span:first-child {
      padding-left: 12px;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      outline: none;
      padding: 12px;
      border-radius: 8px;
      transition: background-color 0.2s ease-in-out;
      font-size: 28px;


      &:hover, &:focus {
        // color: #ddd;
        background-color: #dddddd30;
      }
    }
  }
}

// side navigation
.menu-lateral {
  background: #642f1e;
  min-height: 100%;
  width: 350px;
  .menu-content {
    top: 0;
    position: sticky;
    padding: 0 24px;

    .titulo-menu {
      font-size: 40px;
      color: white;
      // padding-left: 30px;
      padding-bottom: 40px;
      padding-top: 20px;
    }

    .contato {
      color: white;
      border-top: 1px solid #ffffff;
      margin: 0 0;
      padding-top: 24px;
      p {
        padding-top: 20px;
        font-weight: 100;
        font-size: 24px;
      }

      .logo-redes-sociais {
        width: 30px !important;
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    ul {
      li {
        color: white;
        // padding-left: 30px;
        padding-bottom: 20px;
        font-size: 20px;
        a {
          color: white;
          font-size: 20px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.navbar-mobile {
  display: none;
}

.menu-close__icon {
  display: none;
}

/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:hover,
  &:focus-within {
    .dropdown-content {
      top: 36px;
    }
  }
}

.dropdown-content {
  display: block;
  position: absolute;
  top: -200px;
  padding-top: 25px;
  min-width: 100%;
  z-index: 1;
  color: #ffffff;
  transition: top 0.3s ease-in-out;

  li {
    background-color: rgba(101, 19, 19, 0.8);
    padding: 10px 30px;
    border-bottom: 1px solid #ffffff;

    a {
      padding: 8px !important;
    }
  }
}

// footer
.banner-footer {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(88, 17, 17, 1);
  color: #ffffff;
  font-family: "Petrona Regular";
  padding: 1.5em 1em;
}

@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    width: 100%;
  }
  .dropdown {
    display: block;
    .dropbtn {
      display: none;
    }
  }

  .dropdown-content {
    display: block;
    top: 0;
    position: relative;
    padding: 0;
    li {
      border-bottom: 0px;
      padding: 0;
      &:not(:first-child) {
        margin-top: 5%;
      }
    }
  }

  .navbar {
    position: fixed;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100vh;
    padding: 5%;
    display: block;
    transition: left 1s;
    .navbar-nav {
      margin-left: 0px;
      margin-top: 15%;
      display: block;
      .nav-item {
        width: 100%;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 10%;
        border-top: 5px solid #ffffff;
        &:not(:last-child) {
          border-right: 0px;
        }
        &.nav-item--flex {
          flex-direction: column;
          span:not(:first-child) {
            margin-top: 5%;
          }
        }
      }
      &:last-child {
        border-bottom: 5px solid #ffffff;
      }
    }
  }

  .navbar-mobile {
    background-color: rgba(101, 19, 19, 1);
    padding: 12px;
    display: flex;
    .nav-item {
      text-align: left;
    }
  }

  .menu-close__icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .navbar {
    width: 40%;
  }
}
