<div class="language-selector">
  <div class="display">
    <img src="../assets/img/globe_krita2.png" class="language_icon"></img>
    <p>{% t lingua %}</p>
    <div class="arrow-down">⏷</div>
  </div>
  <div class="options">
    <a tabindex="0" onclick="changeLang('')">Português</a>
    <a tabindex="0" onclick="changeLang('/gn')">Guarani</a>
    <a tabindex="0" onclick="changeLang('/en')">English</a>
  </div>

</div>

<!-- <script>
  function changeLang(lang) {
    const regex = new RegExp(/(\/[a-z]n)/, 'i');
    let path = window.location.pathname;
    const match = regex.exec(path);
    if (match) {
      if (match[0] != lang) {
        path = path.replace(regex, `${lang}`);
        console.log("o match foi esse = ", path.match(regex))
        console.log("ir paraaa ", path);
      }
    }
    else {
      if (lang) {
        path = lang + path;
      console.log("ir paraafsfea ", path);
      }
    }
    window.location.assign(path);
  }

</script> -->