<div class="language-selector-mobile">
  <div class="display" onclick="openLanguage()" onblur='closeLanguage()'>
    <img src="../assets/img/globe_krita2.png" class="language-icon"></img>
    <div class="arrow-down">⏷</div>

  </div>
  <div class="options" id="language-selector-options" onblur='closeLanguage()'>
    <a tabindex="0" onclick="changeLang(''), closeLanguage()">Português</a>
    <a tabindex="0" onclick="changeLang('/gn'), closeLanguage()">Guarani</a>
    <a tabindex="0" onclick="changeLang('/en'), closeLanguage()">English</a>
  </div>
</div>
