<header aria-label="Header">
  <nav class="navbar-mobile" aria-label="navbar-mobile">
    <img
      onclick="openMenu()"
      src="/assets/img/menu_icon_open.svg"
      alt="Menu Open"
    />
    <ul class="navbar-nav">
      {% for item in site.data.navbar.navbar-mobile %}
      <li class="nav-item" >
        <span><a href="{{% t basepath %}}/" tabindex="0">{{ item.name }}</a></span>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <nav class="navbar" aria-label="navbar">
    <a href="{{% t basepath %}}/" class="navbar-brand" tabindex="-1">
      <img src="/assets/img/logo.svg" alt="logo" />
    </a>
    <img
      onclick="closeMenu()"
      class="menu-close__icon"
      src="/assets/img/menu_icon_close.svg"
      alt="Menu Close"
    />
    <ul class="navbar-nav">
      {% for item in site.data.navbar.navbar %} {% if item.inline %}
      <li class="nav-item nav-item--flex">
        {% for subitem in item.items %}
        <span><a href="{% t basepath %}{{ subitem.link }}" tabindex="0">{{ subitem.name }}</a></span>
        {% endfor %}
      </li>
      {% elsif item.dropdown %}
      <li class="nav-item dropdown">
        <a class="dropbtn">{{ item.name }}</a>
        <ul class="dropdown-content">
          {% for subitem in item.items %}
          <li><a href="{% t basepath %}{{ subitem.link }}">{{ subitem.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% t basepath %}/" tabindex="0">{{ item.name }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
</header>
