<header aria-label="Header">
  <nav class="navbar-mobile" aria-label="navbar-mobile">
    <img
      onclick="openMenu()"
      src="/assets/img/menu_icon_open.svg"
      alt="Menu Open"
      class="open-menu"
    />
    <ul class="navbar-nav">
      <li class="nav-item" >
        <span><a href="{{% t basepath %}}/" tabindex="0">Portal Indígena</a></span>
      </li>

    </ul>
    {% include languageSelectorMobile.html %}
  </nav>

  <nav class="navbar" aria-label="navbar">
    <a href="{% t basepath %}" class="navbar-brand" tabindex="-1">
      <img src="/assets/img/logo.svg" alt="logo" />
    </a>
    <img
      onclick="closeMenu()"
      class="menu-close__icon"
      src="/assets/img/menu_icon_close.svg"
      alt="Menu Close"
    />
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="{% t basepath %}" tabindex="0">Portal Indígena</a>
      </li>
      {% for item in site.data.navbar.navbar %} {% if item.name == "Aldeias" %}
      <li class="nav-item nav-item--flex">
        {% for aldeia in site.data.aldeias.lista %}
        <a href="{% t basepath %}{{ site.data.aldeias[aldeia].link }}" tabindex="0">{{ site.data.aldeias[aldeia].name }}</a>
        {% endfor %}
      </li>
      {% endif %} {% endfor %}
      <li class="nav-item  nav-item--flex">
        {% include languageSelector.html %}
      </li>
    </ul>
  </nav>
</header>
