@font-face{
    font-family: "Petrona Regular";
    src: url("../fonts/Petrona-Regular.ttf")
}

:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Petrona Regular";
}

.header-img-top {
    width: 100%;
    height: 60vh;
    background-image: url("../img/habitacao_yyrexaka.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.conteudo-aldeia, .historia-aldeia{
    margin: 10px 100px;
    line-height: 25px;
}

.conteudo-aldeia p, .historia-aldeia p {
    margin-top: 15px;
    text-align: justify;
}
.conteudo-aldeia h2, .historia-aldeia h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

.localizacao p {
    margin: 10px 0;
    text-align: center;
}

.localizacao p, h2 {
    margin: 10px 100px;
    line-height: 25px;
}

.localizacao h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.banner img {
    width: 100px;
}

.banner {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-footer {
    justify-content: space-between;
    background-color: rgba(88, 17, 17, 1);
    color: #FFFFFF;
    font-family: "Petrona Regular";
}

.logos {
    display: flex;
    justify-content: center;
}

.logo-redes-sociais {
    width: 40px !important;
}

.email {
    color:#ffffff;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .conteudo-aldeia, .historia-aldeia {
        margin: 10px 30px;
        margin-top: 10%;
        text-align: justify;
    }

    .conteudo-aldeia h2, .historia-aldeia h2 {
        margin: 10px 10px;
    }
    .menu-lateral{
        display: none;
    }

    .conteudo {
        padding-top: 5%;
    }
}

.total {
    display: flex;
    width: 100%;
}

.menu-lateral {
    background: #642F1E;
    min-height: 100%;
    width: 350px;
}

.menu-content {
    position: sticky;
    top: 0;
}

.conteudo {
    flex: 1;
}

.conteudo p {
    line-height: 165%;
}

.imagem-tangara-menu{
    width: 100%;
    height: 200px;
}

.titulo-menu {
    font-size: 45px;
    color: white;
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 20px
}

.menu-lateral ul li{
    color: white;
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 20px;
}

.menu-lateral ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.menu-lateral ul li a:hover {
    text-decoration: underline;
}

.conteudo h2 {
    font-weight: bold;
    padding-bottom: 1%;
}

.localizacao h2 {
    padding-bottom: 0%;
}