---
---

@font-face {
  font-family: "Petrona Regular";
  src: url("../fonts/Petrona-Regular.ttf");
}

:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Petrona Regular";
}

.header-img-top {
  width: 100%;
  height: 60vh;
  background-image: url("../img/habitacao_yyrexaka.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.conteudo-aldeia,
.historia-aldeia {
  margin: 10px 100px;
  line-height: 25px;
  p {
    margin-top: 15px;
    text-align: justify;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
  }
}

.localizacao {
  margin-top: 64px;
  p {
    margin: 10px 0;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
  }
  p,
  h2 {
    margin: 10px 100px;
    line-height: 25px;
  }
}

.imagem-mobile,
.titulo-mobile {
  display: none;
}

.total {
  display: flex;
  width: 100%;
}

.menu-content {
  top: 0;
}

.conteudo {
  flex: 1;
  p {
    line-height: 165%;
  }
}

.imagem-tangara-menu {
  width: 100%;
  height: 200px;
}

.l-menu {
  background: #642f1e;
  height: 200%;
  width: 350px;
}

.conteudo h2 {
  font-weight: bold;
  padding-bottom: 1%;
}

.localizacao h2 {
  padding-bottom: 0%;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .conteudo-aldeia,
  .historia-aldeia {
    margin: 10px 30px;
    margin-top: 10%;
    text-align: justify;
  }

  .conteudo-aldeia h2 {
    margin: 10px 10px;
    padding-top: 0;
  }
  .menu-lateral {
    display: none;
  }

  .conteudo {
    padding-top: 5%;
  }

  .imagem-mobile,
  .titulo-mobile {
    display: block;
  }

  .imagem-mobile img {
    width: 100% !important;
    margin: 0;
    margin-top: 10%;
  }

  .titulo-mobile {
    text-align: center;
    font-size: 35px;
    background: #642f1e;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    h2 {
      margin: 0;
    }
  }

  .total {
    display: block;
  }

  h2 {
    margin: 0;
  }

  .image-portal {
    width: 100%;
  }
}
