@font-face{
    font-family: "Petrona Regular";
    src: url("../fonts/Petrona-Regular.ttf")
}

:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.navbar {
    background-color: rgba(101, 19, 19, 0.80);
    padding: 5px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
}

.navbar .navbar-brand {
    display: inline-block;
}

.navbar .navbar-brand img {
    height: 70px;
}
    
.navbar-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    font-family: "Petrona Regular", "Arial";
    margin-left: 30px;
}

.navbar-nav .nav-item {
    display: inline-block;
}

.navbar-nav .nav-item:not(:last-child) {
    border-right: 5px solid #FFFFFF;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.navbar-nav .nav-item span:not(:first-child) {
    margin-left: 60px;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-img-top {
    width: 100%;
    height: 60vh;
    background-image: url("../img/Imagem_casa_inicio_vermelha.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner p {
    font-family: "Petrona Regular";
    font-size: 28px;
    text-align: center;
    line-height: 130%;
    color: #767676;
}

.banner__text--orange {
    color: #E78A6D;
}

.banner img {
    width: 100px;
}