@font-face{
    font-family: "Petrona Regular";
    src: url("../fonts/Petrona-Regular.ttf")
}

:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Petrona Regular";
}

.navbar {
    background-color: rgba(101, 19, 19, 0.80);
    padding: 5px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
}

.navbar .navbar-brand {
    display: inline-block;
}

.navbar .navbar-brand img {
    height: 70px;
}
    
.navbar-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    margin-left: 30px;
}

.navbar-nav .nav-item {
    display: inline-block;
}

.navbar-nav .nav-item:not(:last-child) {
    border-right: 5px solid #FFFFFF;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.navbar-nav .nav-item span:not(:first-child) {
    margin-left: 60px;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-img-top {
    width: 100%;
    height: 60vh;
    background-image: url("../img/Imagem_casa_inicio_vermelha.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner p {
    font-size: 28px;
    text-align: center;
    line-height: 130%;
    color: #767676;
}

.banner__text--orange {
    color: #E78A6D;
}

.banner img {
    width: 100px;
}

.bottom-section {
    background-image: url("../img/imagem_fundo_blur.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}

.banner__section {
    justify-content: center;
    background-color: rgba(101, 19, 19, 0.88);
}

.banner__section p {
    color: #FFFFFF;
}

.cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.card-item {
    margin-top: 2%;
    margin-left: 10px;
    margin-right: 10px;
    width: 375px;
}

.card-item .item-img {
    width: 100%;
}

.card-item .item-text{
    background-color: rgba(100, 47, 30, 0.6);
    display: block;
    padding: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 26px;
}

.banner-footer {
    justify-content: space-between;
    background-color: rgba(88, 17, 17, 1);
    color: #FFFFFF;
    font-family: "Petrona Regular";
}

.logos {
    display: flex;
    justify-content: center;
}

.logo-redes-sociais {
    width: 40px !important;
}