---
layout: default
title: "Portal Indígena"
maincss: "css/main.css"
---

<main aria-label="Home main">
  <div aria-label="Foto da Home" class="header-img-top">
    <img
      src="/assets/img/Imagem_casa_inicio_vermelha_desktop.jpg"
      alt="Imagem casa de Reza"
    />
  </div>

  <section class="banner" aria-label="Banner">
    <p>
      <span>{% t home.bem_vindo %}</span> <br />
      <span class="banner__text--orange">{% t home.portal %}</span>
    </p>
    <img src="/assets/img/Logo_Vetor2.png" alt="Logo do Portal Indígena" />
  </section>

  <section class="bottom-section" aria-label="Aldeias">
    <div class="banner banner__section">
      <p>{% t home.informacoes %}</p>
      <p>{% t home.clique %}</p>
    </div>
    <div class="cards">
      {% for aldeia in site.data.aldeias.lista %}
      <a href="{{site.data.aldeias[aldeia].link}}" class="card-item">
        <img
          src="{{site.data.aldeias[aldeia].img}}"
          class="item-img"
          alt="{{site.data.aldeias[aldeia].alt}}"
        />
        <span class="item-text">{{ site.data.aldeias[aldeia].name }}</span>
      </a>
      {% endfor %}
    </div>
    <div class="about-container" id="sobre">
      <div class="about">
        <h2>{% t home.sobre.titulo %}</h2>
        <p class="poema">{% t home.sobre.poema %}</p>
        <img class="pintura" src="assets/img/pintura3.png" />
        <p class="texto">
          {% t home.sobre.texto1 %}
          <a href="https://redeindigena.ip.usp.br/" target="blank"
            >Rede Indígena (Rede de Atenção à Pessoa Indígena - IPUSP)</a
          >
          {% t home.sobre.texto2 %}
          <a href="https://tecs.ime.usp.br/" target="blank"
            >Tecs (Grupo de comput {ação social} da USP)</a
          >
          {% t home.sobre.texto3 %}
        </p>

      </div>
    </div>
    {% include goUp.html %}
  </section>
</main>
