---
layout: default
maincss: "../css/main.css"
---

<div class="aldeia-container">
  <!-- <div class="menu-lateral">
    <img src="/assets/img/habitacao_yyrexaka.jpg" class="imagem-menu-lateral" />
    <div class="menu-content">
      {% assign titulo = page.title | split: " " %}
      <h1 class="titulo-menu">{{ titulo[0] }} <br />{{ titulo[1] }}</h1>
      <ul class="menu-lateral-items">
        <li><a href="#conteudo-aldeia">Sobre a aldeia</a></li>
        <li><a href="#historia-aldeia">História</a></li>
        <li><a href="#localizacao">Localização</a></li>
      </ul>
      <div class="contato">
        <p>Contato:</p>
        <div class="logos">
          <p>
            <img src="/assets/img/instagram.svg" class="logo-redes-sociais" />
            Instagram
          </p>
          <p>
            <img src="/assets/img/facebook.svg" class="logo-redes-sociais" />
            Facebook
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="intro-container">
    <div class="imagem-aldeia">
      <img src="/assets/img/habitacao_yyrexaka.jpg" alt="Imagem Yyrexakã" />
    </div>
    <div class="titulo-aldeia">
      <h2>{{ page.title }}</h2>
    </div>
  </div>
  <div class="conteudo">{{ content }}</div>
</div>
