---
maincss: "../css/main.css"
---
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{page.title}}</title>
    <link rel="icon" type="image/png" href="/favicon.png"/>

    {% if page.maincss %}
    <link rel="stylesheet" href="{{ page.maincss }}" />
    {% else if layout.maincss %}
    <link rel="stylesheet" href="{{ layout.maincss }}" />
    {% endif %}
  </head>

  <body>
    {% include navbar.html %} {{ content }}

    {% include footer.html %} 

    <script src="/assets/js/menu.js"></script>
  </body>
</html>
