<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{page.title}}</title>

    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/menu.css" />

    {% if page.maincss %}
    <link rel="stylesheet" href="{{ page.maincss }}" />
    {% else if layout.maincss %}
    <link rel="stylesheet" href="{{ layout.maincss }}" />
    {% endif %}
  </head>

  <body>
    {% include navbar.html %} {{ content }}

    <footer class="banner-footer">
      <span> Portal Indígena - Todos os direitos reservados. </span>
    </footer>
    <script src="/assets/js/menu.js"></script>
  </body>
</html>
